{% extends 'base.html' %}
<!-- load the path to your static files -->>
{% load static %}

{% block content %}
<div class="container gallery-container">
    <h1>Burkini</h1>
    <p class="page-description text-center">2017/2018</p>
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/burkini/1.png' %}" >
                        <img src="{% static 'images/burkini/1.png' %}" alt="Park">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/burkini/2.png' %}">
                        <img src="{% static 'images/burkini/2.png' %}" alt="Bridge">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/burkini/3.png' %}">
                        <img src="{% static 'images/burkini/3.png' %}" alt="Tuneel">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/burkini/4.png' %}">
                        <img src="{% static 'images/burkini/4.png' %}" alt="Coast">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/burkini/5.png' %}">
                        <img src="{% static 'images/burkini/5.png' %}" alt="Rails">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/burkini/6.png' %}">
                        <img src="{% static 'images/burkini/6.png' %}" alt="Traffic">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
         baguetteBox.run('.tz-gallery');
        </script>
{% endblock %}