{% extends 'base.html' %}
<!-- load the path to your static files -->>
{% load static %}

{% block content %}
	<!--start of menu bar-->
	<div class="container-fluid">
	<div class="page-header">
		<div class="container-fluid">

	        <div class="row">
               <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
               </div>
               <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                   <img id="roundPic" src="{% static 'images/roundmira.png' %}" class="img-circle" width="250" height="236"/>
               </div>
               <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
               </div>
		    </div>
		    </div>

			<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-2 col-sm-12 col-xs-12"></div>
				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <a href="https://www.google.fr/" class="fa fa-lg fa-google-plus"></a>
            <a href="" class="fa fa-lg fa-linkedin"></a>
            <a href="https://www.instagram.com/amira_riaa/" class="fa fa-lg fa-instagram"></a>
            <a href="https://www.youtube.com/channel/UCu6gSeYHls4lxG6AgOLeM5w" class="fa fa-lg fa-youtube"> </a>
            </div>
				<div class="col-lg-4 col-md-2 col-sm-12 col-xs-12"></div>
            </div>
            </div>
        </div>
    </div>

	   <blockquote class="blockquote">
	   	<p>I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best </p>
	   	<footer>Quote by<cite title="Amira Riaa"></cite>Marilyn Monroe</footer>

		</blockquote>
		<!--beging of row 1-->
		<div class="container-fluid">
			<div class="row">
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/masmouma.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/babyFete.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/working.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/chilling.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/love.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/baby.jpg' %}" width="250" height="236"></a>
			</div>
		</div>
		<!--end of row 1-->
		<!--beging of row 2-->
		<div class="row">
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/street.png' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/babyFete1.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/stuff.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/background2.png' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/friends.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/makeup.jpg' %}" width="250" height="236"></a>
			</div>
		</div>
		<!--end of row 2-->
		<!--beging of row 3-->
		<div class="row">
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/1.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/2.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/3.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/4.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/5.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/6.jpg' %}" width="250" height="236"></a>
			</div>
		</div>
		<!--end of row 3-->
		<!--beging of row 4-->
		<div class="row">
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/7.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/8.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/9.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/10.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/love.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/baby.jpg' %}" width="250" height="236"></a>
			</div>
		</div>
		<!--end of row 4-->
		<!--beging of row 5-->
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/street.png' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/babyFete1.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/stuff.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/background2.png' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/friends.jpg' %}" width="250" height="236"></a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-12 bg-danger">
				<a href="https://www.instagram.com/p/BmJGhgzBXoO/?taken-by=amira_riaa"><img src="{% static 'images/makeup.jpg' %}" width="250" height="236"></a>
			</div>
		<div class="container gallery-container">
    <h1>My Collection</h1>
    <p class="page-description text-center">2017/2018</p>
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/model1.png' %}"  height="30">
                        <img src="{% static 'images/model1.png' %}" >
                    </a>
                    <div class="caption">
                        <h4>My Abayat</h4>
                        <i>Abayat zahra ❤️</i><br>
                        <a type="button" href="{% url 'abayatgallery' %}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/model5.png' %}">
                        <img src="{% static 'images/model5.png' %}" alt="Bridge">
                    </a>
                    <div class="caption">
                        <h4>My Burkini Collection</h4>
                        <i>Burkini pour les filles voilées disponible </i><br>
                        <a type="button" href="{% url 'burkinigallery' %}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/model3.png' %}">
                        <img src="{% static 'images/model3.png' %}" alt="Tuneel">
                    </a>
                    <div class="caption">
                          <h3>Eid Collection </h3>
                        <i>Beautiful dresses to wear to eid in several colors</i><br/>
                        <a type="button" href="{% url 'eidgallery' %}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/model4.png' %}">
                        <img src="{% static 'images/model4.png' %}" alt="Coast">
                    </a>
                    <div class="caption">
                        <h3>Summer Collection 4</h3>
                        <i>Casual wear for sunny days of summer </i><br/>
                        <a type="button" href="{% url 'summergallery' %}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/model7.png' %}">
                        <img src="{% static 'images/model7.png' %}" alt="Rails">
                    </a>
                    <div class="caption">
                        <h3>défilé de mode</h3>
                        <i>My first runway project.</i><br/>
                        <a type="button" href="{% url 'defiledemode' %}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{% static 'images/model6.png' %}">
                        <img src="{% static 'images/model6.png' %}" alt="Traffic">
                    </a>
                    <div class="caption">
                        <h3>Scarfs Collection</h3>
                        <i>take look to our large collection of scarfs.</i><br>
                        <a type="button" href="{% url 'scarfgallery' %}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
	<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Twitter, Inc.</strong><br>
                taiba centre bachdjararah/<br>
                city centre carrefour <br>
                park mall setif <br>
                <abbr title="Phone">
                    Phone :</abbr>
                (+213) 54 17 17 861
            </address>
            <address>
                <strong>my Gmail: </strong><br>
                <a href="mailto:#">amirariaapro@gmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
<div class="col-12">
	<hr class="light">
	<center><small>copyright &copy; basma.org All Right Reserved </small></center>


</div>
</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
         baguetteBox.run('.tz-gallery');
        </script>
        </div>
{% endblock %}
